<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<!--屏蔽标签拨号/email/address链接-->
		<!--<meta name="format-detection" content="telephone=no"/>-->
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="adress=no" />
		<title>确认订单</title>
	</head>

<style>
html,body{
    width:100%;
    height:100%;
    font-family:"微软雅黑";
}
a{text-decoration:none;}
.btn{
    display:block;
    width:90%;
    margin: 10px auto;
    background-color:#f90;
    color:white;
    font-weight:normal;
    font-size:16px;
    text-align:center;
    height:30px;
    line-height:30px;
}
</style>
<body>
<a href="###" onclick="openOnce()" class="btn">打开阿里验证</a>
<a href="###" onclick="openMore()" class="btn" id="autoStart">开启自动验证</a>
<label>
    自动验证时间间隔(单位秒)
</label>
<input type="text" id="inter" value="60" />
<div id="msg"></div>
<div id="timer"></div>
</body>
<script type="text/javascript">
var aliRisk = "js-call://StartRiskVerification";
var autoOpen =false;
var gTimeout = null;
openMore();
function openOnce(){
    clearTimeout(gTimeout);
    document.getElementById('msg').innerHTML = aliRisk;
    document.location = aliRisk;
}
function openMore(){
    clearTimeout(gTimeout);
    autoOpen = !autoOpen;
    document.getElementById('autoStart').innerHTML = autoOpen === false ? "开启自动验证":"停止自动验证";
    if(!autoOpen){
        return;
    }
    document.location = aliRisk;
}
var Ajax={
    get: function(url, fn) {
        var xhr = new XMLHttpRequest();  // XMLHttpRequest对象用于在后台与服务器交换数据
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200 || xhr.status == 304) { // readyState == 4说明请求已完成
                fn.call(this, xhr.responseText);  //从服务器获得数据
            }
        };
        xhr.send();
    },
    post: function (url, data, fn) {         // datat应为'a=a1&b=b1'这种字符串格式，在jq里如果data为对象会自动将对象转成这种字符串格式
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");  // 添加http头，发送信息至服务器时内容编码类型
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 304)) {  // 304未修改
                fn.call(this, xhr.responseText);
            }
        };
        xhr.send(data);
    }
}
function __StartRiskVerificationResult(sessionID) {

    if (!sessionID) {

        return;
    }

    // _riskSessionID = sessionID;
    Ajax.post("http://47.94.238.179/api/maotai","sid="+sessionID,function(){
        if(autoOpen){
            var timeout = document.getElementById('inter').value * 1000;
            gTimeout = setTimeout(function() {
                document.location = aliRisk;
            } , timeout);
            viewInterval(60);
        }        
    });
}
var cinter = null
function viewInterval(timeout){
    cinter && clearInterval(cinter);
    cinter = setInterval(function(){
        timeout -=1;
        document.getElementById('timer').innerHTML = timeout+"秒后打开验证";
    }, 1000);
}
</script>
</html>
